@font-face {
    font-family: "SF UI Text";
    src: url("assets/fonts/SFUIText-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SF UI Text";
    src: url("assets/fonts/SFUIText-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SF PRO UI Text";
    src: url("assets/fonts/SF-Pro-Display-Regular.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SF PRO UI Text";
    src: url("assets/fonts/SF-Pro-Display-Medium.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SF PRO UI Text";
    src: url("assets/fonts/SF-Pro-Display-Bold.otf");
    font-style: normal;
    font-weight: 600;
}
